<section id="three" class="wrapper style3 special">
    <div class="container">

    </div>
    <div class="container 50%">
        <form action="" method="post">

            <div class="acciones btnVerde">
                <a href="/crearImporte">Importe</a>
                <a href="/crearInsumo">Nuevo Gasto</a>
            </div>

            <table class="table table-hover" id="insumo">
                <div>
                    {{#if importe.length}}
                    {{#each importe}}
                    <p>Limite de presupuesto: L. {{cantidad}}</p>
                    {{/each}}
                    {{/if}}
                </div>
                <thead>
                    <tr>
                        <td scope="col">Descripción</td>
                        <td scope="col">Fecha</td>
                        <td scope="col">Total</td>
                        <td scope="col">Acciones</td>

                    </tr>
                </thead>

                <tbody class="insumo">
                    {{#if insumo.length}}
                    {{#each insumo}}
                    <tr>

                        <td>{{descripcion}}</td>
                        <td>{{fecha}}</td>
                        <td>L. {{total}}</td>
                        <td>
                            <div class="contenedor">
                                <div class="caja">
                                    <a href="#" data-eliminar={{id}}>Eliminar</a>
                                    <a href="/editarInsumo/{{url}}">Editar</a>

                                </div>
                            </div>

                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                    <tr>
                        <td>Total</td>
                    </tr>

                </tbody>

            </table>

        </form>
    </div>
</section>